.container {
    position: relative;
    height: 10p;
	
    display: flex;
    justify-content: center;
    align-items: center;
}

.moviePic {
    width: 200px; /* Adjust as needed */
    height: 200; /* Adjust as needed */
    opacity: 0.9;
}

.movieDetail {
    position: absolute;
    top: 50%;
    width: 70%;
    text-align: center;
    font-size: 18px; /* Adjust as needed */
    color: #333; /* Adjust as needed */
    transform: translateY(-50%);
}
